@import '~antd/dist/antd.css';

@font-face {
  font-family: "SF Compact Rounded";
  src: local("SF Compact Rounded"),
   url("./asssets/Fonts/SF-Compact-Rounded-Semibold.ttf") format("truetype");
  font-weight: bold;
  }

  @font-face {
    font-family: "SF Compact Rounded Normal";
    src: local("SF Compact Rounded Normal"),
     url("./asssets/Fonts/SF-Compact-Rounded-Regular.ttf") format("truetype");
    font-weight: bold;
    }
  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}


input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
